@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

@supports (font: -apple-system-body) {
    html {
        font: -apple-system-body;
    }
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 3.4375rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

html {
    color: white;
    background-color: #027c92;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.kantega-splat {
    position: absolute;
    right: 20px;
    top: 5rem;
    max-width: 75%;
    max-height: 80vh;
    pointer-events: none;
}

.vision-nav {
    background-color: #027c92;
}

.person-intro {
    background-color: #027c92;
}

.signup {
    background-color: #024d5a;
}

.how-to-test {
    background-color: #27003d;
}

.criteria {
    background-color: #024d5a;
}

.vision-nav {
    display: flex;
    grid-gap: 1.25rem;
}

.vision-nav a {
    padding: 5px;
    margin: 15px;
    font-size: 1.25rem;
    text-underline-offset: 0.5rem;
}

.vision-nav a:first-child {
    margin-left: 0;
}

a:hover {
    color: lightseagreen;
}

a:focus-visible {
    outline: 2px solid #024d5a;
    border-radius: 4px;
}

.section {
    padding: 0.5rem 500px;
    margin: 0;
}

.section > * {
    max-width: 50rem;
}

@media screen and (max-width: 123.75rem) {
    .section {
        padding: 0.5rem 160px;
    }
}

@media screen and (max-width: 64rem) {
    .section {
        padding: 0.5rem 80px;
    }
}

@media screen and (max-width: 32rem) {
    .section {
        padding: 0.5rem 32px;
    }
}

.signup-group {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-areas:
"label ."
"input button"
"error .";
}

.signup-email {
    margin-right: 8px;
}

.signup-group label {
	grid-area: label;
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    margin: 0 8px;
}

.signup-group input {
	grid-area: input;
    display: block;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
}

.signup-group input:focus-visible {
    outline: none;
    border: #027c92 2px solid;
}

.signup .button {
	grid-area: button;
	align-self: stretch;
	justify-self: stretch;
    padding: 0 20px;
    text-align: center;
    vertical-align: center;
    border: 0.0625rem solid darkgreen;
}

.button {
    height: 100%;
    background-color: darkgreen;
    color: white;
    margin: 0;
    padding: 1.25rem;
    border-radius: 0.25rem;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
	transition: border-color 300ms;
}

.button:hover {
	border-color: white;
}

#signup-email-error {
	grid-area: error;
	color: red;
}
