@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 55px;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

body {
  font-family: "Roboto Light", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  background-color: #e4eaf9;
  color: white;
  min-width: 1500px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.blogg-intro {
  font-family: "Inter";
  font-weight: 500;
  margin-top: 70px;
}

.kantega-splat {
  position: absolute;
  right: 20px;
  bottom: 80px;
  max-width: 75%;
  max-height: 80vh;
  pointer-events: none;
}

.signup {
  color: black;
}

.section {
  padding: 8px 500px;
  margin: 0;
}

.section > * {
  max-width: 800px;
}

@media screen and (max-width: 1980px) {
  .section {
    padding: 8px 160px;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 8px 80px;
  }
}

@media screen and (max-width: 640px) {
  .section {
    padding: 8px 32px;
  }
}

.blog-content {
  color: black;
  background-color: #493257;
  padding: 20px 0;
}

.blog-content h2 {
  font-size: 1.2rem;
}

.blog-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup {
  display: flex;
  align-items: end;
  margin: 40px 0;
}

.signup > h2 {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  margin-right: 40px;
  font-weight: 500;
}

.signup-email {
  display: inline-block;
  margin-right: 8px;
}

.signup-email label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px 0;
}

.signup-email input {
  display: block;
  box-sizing: border-box;
  padding: 8px;
  border: 2px solid rgb(206, 206, 206);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
}

.signup-email input:focus-visible {
  outline: none;
  border: #c9d6f7 2px solid;
}

.signup .button {
  height: 38px;
  padding: 0 20px;
  text-align: center;
  vertical-align: center;
  border: none;
}

.button {
  height: 100%;
  background-color: lightseagreen;
  color: white;
  margin: 0;
  padding: 20px;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.button:disabled {
  background-color: #ee3a64;
}

.how-to-test {
  display: flex;
  gap: 30px;
  align-items: start;
  font-family: "Inter";
  font-weight: 400;
}

footer {
  color: black;
  display: flex;
  align-items: center;
  padding-top: 5rem;
  justify-content: center;
  grid-gap: 0.3rem;
}
