@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 55px;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

body {
  font-family: "Roboto Light", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  background-color: #e4eaf9;
  min-width: 1200px;
}

.intro {
  display: flex;
  justify-content: space-between;
  color: white;
}

.blogg-intro {
  font-family: "Inter";
  font-weight: 500;
  margin-top: 70px;
  color: white;
}

.section {
  padding: 10px 150px;
  margin: 0;
}

.section p {
  max-width: 800px;
}

@media screen and (max-width: 1980px) {
  .section {
    padding: 10px 150px;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 10px 80px;
  }
}

@media screen and (max-width: 640px) {
  .section {
    padding: 10px 32px;
  }
}

.blog-content {
  color: black;
  background-color: #493257;
  padding: 20px 0;
}

.blog-content h2 {
  font-size: 19px;
}

.blog-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.signup {
  color: black;
}

.signup > h2 {
  font-size: 19px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.signup-email {
  display: flex;
  gap: 10px;
}

.signup-email label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px 0;
}

.signup-email input {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  padding: 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.signup-email input:focus-visible {
  outline: #c9d6f7 2px solid;
}

.signup .button {
  height: 38px;
  padding: 0 20px;
  text-align: center;
  vertical-align: center;
  border: none;
}

.button {
  height: 100%;
  background-color: var(--button-purple);
  color: white;
  margin: 0;
  padding: 20px;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.button:disabled {
  background-color: #ee3a64;
}

footer {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  justify-content: center;
  grid-gap: 0.3rem;
  font-size: 0.9rem;
}
