@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

body {
  margin: 10px 150px;
  min-height: 100vh;
}

header {
  display: flex;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 3.4rem;
  margin-top: 1.9rem;
}

.tickets-info {
  margin: 4rem 0 5rem 0;
}

.person-bubble {
  width: 20rem;
  height: 20rem;
}

.person-bubble img:first-child {
  max-height: 8rem;
}

.persons {
  display: flex;
  justify-content: center;
  align-items: end;
}

.person-read-more {
  width: 38rem;
  height: 38rem;
}

.person-read-more img {
  max-height: 9rem;
}
.person-read-more img:first-child {
  max-height: 10rem;
}

.button {
  padding: 1.25rem;
  background-color: #896ca7;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Inter";
  font-size: 1rem;
}

.button:hover {
  background-color: #493257;
}

.timer-frame {
  border: 2px solid #a17d7d;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding-bottom: 1rem;
}

.timer {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;

  color: #a17d7d;
  text-align: center;
}

.find-button {
  display: none;
}

.error {
  display: none;
  background-color: #f0d2d2;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.form {
  padding: 3rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
}

.form-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin: 3.25rem 0 2rem 0;
  font-size: 2rem;
}

.success {
  display: none;
  background-color: #cfe6ce;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.gif {
  margin: 5rem auto;
  display: block;
  border: none;
}

.tasks {
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  position: relative;
}
