@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
html {
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


:root {
  --typography-black: #393939;
  --button-purple: #735096;
  --button-purple-hover: #634087;
  --kantega-red: #ee3a64;
  --white-softe-transparent: #ffffffb3;
  --pink-soft: #fff6f8;
  --pink-soft-dark: #fbe5e9;
  --pink-soft-darker: #f1cfd5;
  --purple-soft: #e8dcefa7;
  --purple-soft-darker: #e8dcef;

}

html {
  color: var(--typography-black);
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.nav-bar {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  font-weight: 500;
  transition: color 0.3s ease-out;
  text-underline-offset: 7px;
  font-family: "Quicksand", sans-serif;
}

.nav-bar > * {
  font-size: 1.15rem;
  background-color: var(--pink-soft-dark);
  color: #2a2a2a;
  margin: 0;
  text-decoration: none;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  outline-offset: 2px;;
}
  
.nav-bar > p {
  font-weight: 600;
  background: none;
  outline: none;
}

.nav-bar > a:hover {
  background-color: var(--pink-soft-darker);
}

.vision-page .person-bubble, .vision-page .nav-bar > a {
  background-color: var(--white-softe-transparent);
}

.vision-page .nav-bar > a:hover {
  background-color: var(--purple-soft-darker);
}

.vision-page .person-bubble > button:hover {
  background-color: var(--purple-soft);
}

.vision-page .person-read-more {
  border-color: var(--purple-soft);
}

.person-bubble {
  width: 15rem;
  height: 15rem;
  background-color: var(--pink-soft);
  border-radius: 100%;
  color: #393939;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
  font-family: "Inter";
}

.person-bubble img {
  max-height: 7rem;
}

.person-bubble > h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  margin: 0;
}

.person-bubble > .description {
  display: none;
  width: 22rem;
}

.person-bubble > .description > p {
  line-height: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.person-bubble > button {
  border: none;
  font-family: "Inter";
  font-size: 0.8rem;
  padding: 0.3rem;
  border: none;
  border-radius: 3px;
  border: 1px solid var(--typography-black);
  background-color: transparent;
  color: var(--typography-black);
}

.person-bubble > button:hover {
  background-color: var(--pink-soft-dark);
}

.person-read-more {
  width: 32rem;
  height: 32rem;
  border: 3px solid var(--pink-soft-dark);
}

.person-read-more img {
  max-height: 11rem;
}

.person-read-more > .description {
  display: block;
}

.hint {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  line-height: 1.75rem;
  max-width: 45rem;
  margin: 2rem auto;
  padding: 4rem;
  border-radius: 30px;
}

.hint code {
  color: var(--kantega-red);
  font-weight: 700;
  font-size: 1.2rem;
}

.hint blockquote {
  font-family: "Roboto-Light";
}

.hint-wide {
  max-width: unset;
}

.info-content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tasks {
  border-radius: 0.75rem;
  background: white;
  padding: 3rem;
  max-width: 37rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.tasks-purple {
  background-color: #eff3fd;
}

.tasks > h2 {
  color: var(--kantega-red);
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
.tasks h3 {
  font-weight: 500;
  font-size: 1rem;
  margin: 2rem 0 0.5rem 0;
  font-family: "Roboto", sans-serif;
}

.tasks ul {
  padding-left: 1rem;
}

.tasks li {
  margin: 0.8rem 0;
}

.k {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.kantega-splat {
  position: absolute;
  right: 20px;
  bottom: 80px;
  max-width: 20rem;
  pointer-events: none;
}

button {
  background-color: var(--button-purple);
  padding: 0.5rem 1.5rem;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: "Inter";
  font-size: 1rem;
}

button:hover {
  background-color: var(--button-purple-hover);
};
