html {
  position: relative;
}

.blind-page {
  margin: 100px;
  font-family: "Roboto Light", sans-serif;
}

.blind-nav {
  display: flex;
  grid-gap: 20px;
  margin: 30px 0;
}

.blind-nav a {
  padding: 5px;
  margin: 15px;
  font-size: 20px;
  text-underline-offset: 7px;
}

.blind-nav a:first-child {
  margin-left: 0;
}

a:hover {
  color: lightseagreen;
}

.blind-header {
  height: 40px;
  display: block;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #80808057;
  display: none;
}

.modal {
  background-color: white;
  padding: 2rem;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "progress progress"
    "main1 image"
    "main2 image"
    "main3 image"
    "footer footer";
  justify-content: center;
}

.modal h2 {
  grid-area: header;
}

.modal img {
  grid-area: image;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.progress {
  grid-area: progress;
  margin-bottom: 10px;
}

.progress span {
  font-size: 0.75rem;
}

.progress-bar {
  background-color: #27003d;
  width: 0;
  height: 10px;
  transition: width 1s;
}

.modal .button {
  grid-area: footer;
}

.modal-input {
  padding-bottom: 1rem;
  margin: 0;
}

.modal-input label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  margin: 0 0.5rem;
}

.modal-input input {
  box-sizing: border-box;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.validation-error {
  color: red;
  margin: 0 0.5rem;
  font-size: 0.875rem;
}

.button {
  margin: 1rem auto 0;
  padding: 1.25rem;
  background-color: mediumpurple;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.buy-button {
  width: 75%;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person-intro .side-by-side {
  max-height: 291px;
  height: 100%;
}

.hidden.hideable .hideable-content {
  display: none;
}

.hidden.hideable h2::before {
  content: url("../assets/chevron-right.svg");
  padding-right: 2px;
}

.hideable h2::before {
  content: url("../assets/chevron-down.svg");
  padding-right: 2px;
}

footer {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  justify-content: center;
  grid-gap: 0.3rem;
}
