html {
  position: relative;
}

.blind-page {
  margin: 10px 150px;
}

.h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 55px;
  margin-top: 30px;
}

.rocket-intro {
  font-size: 1.1rem;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #80808057;
  display: none;
}

.modal {
  background-color: white;
  padding: 2rem;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 2px solid #e6e6e6;
}

.modal h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.modal img {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.progress p {
  font-size: 0.8rem;
}

.progress-bar {
  background-color: #9781ae;
  width: 0;
  height: 0.3rem;
  transition: width 0.3s ease-out;
  border-radius: 3px;
}

.modal-header {
  font-family: "Quicksand", sans-serif;
}

.modal-input {
  padding-bottom: 1rem;
  margin: 0;
}

.modal-input label {
  display: block;
  font-size: 0.875rem;
}

.modal-input input {
  box-sizing: border-box;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.validation-error {
  color: #ee3a64;
  font-size: 0.875rem;
}

.button {
  margin: 1rem auto 0;
  border: none;
  border-radius: 5px;
  font-family: "Inter";
  font-size: 1rem;
}


.buy-button {
  width: 65%;
}

.person-intro .side-by-side {
  max-height: 291px;
  height: 100%;
}

.hideable {
  margin-bottom: 2rem;
}

.hideable > h2 {
  font-weight: 400;
}

.hideable p {
  margin-left: 1.5rem;
}

.rocket-info {
  margin: 4rem 0 5rem 0;
}

.hidden.hideable .hideable-content {
  display: none;
}

.hideable > h2 {
  font-size: 1.2em;
}

.hidden.hideable h2::before {
  content: url("../assets/chevron-right.svg");
  padding-right: 0.5rem;
}

.hideable h2::before {
  content: url("../assets/chevron-down.svg");
  padding-right: 0.5rem;
}

footer {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  justify-content: center;
  grid-gap: 0.3rem;
}

.rockets {
  margin: 4rem 0;
}

.rocket-header {
  font-size: 1.4rem;
  font-weight: 400;
}


.rocket-info > div {
  background-color: #eff3fd;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}