html {
  position: relative;
}

.blind-page {
  margin: 10px 150px;
}

.h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 55px;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.rocket-intro {
  font-size: 1.1rem;
}

.modal {
  background-color: white;
  border: 2px solid #ececec;
  padding: 2rem 4rem;
  border-radius: 4px;
}

.modal h2 {
  font-weight: 500;
  color: #383838
}

.modal > img {
  object-fit: contain;
  width: 15rem;
  height: auto;
}

.progress {
  margin-bottom: 2rem;
}

.progress p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.progress-bar {
  background-color: #9781ae;
  width: 0;
  height: 0.3rem;
  transition: width 0.3s ease-out;
  border-radius: 3px;
}

.modal-header {
  font-family: "Quicksand", sans-serif;
}

.modal-input {
  padding-bottom: 1rem;
  margin: 0;
}

.modal-input label {
  display: block;
  font-size: 0.875rem;
}

.modal-input input {
  box-sizing: border-box;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.validation-error {
  color: #ee3a64;
  font-size: 0.875rem;
}

details {
  background-color: #eff3fd;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;;
}

summay {
  display: flex;
  align-items: center;
}

summary > p {
	display: inline-block;
  cursor: pointer;
}

.close-button {
	margin: 0;
  padding: 1rem;
	background-color: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
}

.close-button:hover {
  background-color: #ebebeb;
}


.buy-button {
  width: 65%;
}


.person-intro .side-by-side {
  max-height: 291px;
  height: 100%;
}

.rocket-info {
  margin: 4rem 0 5rem 0;
}

footer {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  justify-content: center;
  grid-gap: 0.3rem;
}

.info-content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.rockets {
  margin: 4rem 0;
}

.rocket-header {
  font-size: 1.4rem;
  font-weight: 400;
}
